/* PRODUCTOS */

.textoCarrusel {
    font-size: $tam-fuente;
    font-weight: bold;
    color: black;
  }
  
  .tituloproductos {
    font-size: $tam-fuente;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
  }